* {
  width:100%;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  margin: 0 auto;
  width:960px;
  height:500px;
  background-color:black;
  font-size:18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header-container {
  width:100%;
  height:50px;
  background-color:yellow;
  float:left;
  border-bottom: 3px solid #ebebeb;
}

header {
  display:inline-block;
    padding-top:16px;
  height:34px;
  width:25%;
  background-color: #4aaaa5;
  text-align:center;
  vertical-align: middle;
  float:left;
    color:#ebebeb;
}

.nav-container {
  display:inline-block;
  float:right;
  background-color: white;
}

.nav-container li {
  display:inline-block;
    padding-top:16px;
  height:34px;
  width:9%;
  background-color: white;
  float:right;
    color:#ebebeb;
}

.portfolio-container {
  width:100%;
  height:800px;
 background-image: url("../images/hexellence.png");
}

.index-container {
  width:100%;
  height:600px;
 background-image: url("../images/hexellence.png");
}

.contact-container {
  width:100%;
  height:700px;
 background-image: url("../images/hexellence.png");
}

index-section {
  margin-top:40px;
  padding:20px;
  display:inline-block;
  padding-top: 40px;
  width:64%;
  height:400px;
  background-color:white;
}

contact-section {
  margin-top:40px;
  padding:20px;
  display:inline-block;
  padding-top: 40px;
  width:64%;
  height:535px;
  background-color:white;
}

portfolio-section {
  margin-top:40px;
  padding:20px;
  display:inline-block;
  padding-top: 40px;
  width:64%;
  height:625px;
  background-color:white;
}

.profile-img-box {
/*    display:inline-block;*/
  width:175px;
  height:175px;
  background-color:white;
  float:left;
  padding-right:15px;
  padding-bottom: 15px;
}

.portfolio-img-box {
/*  display:inline-block;*/
  margin-top:20px;
  width:90%;
  height:300px;
  background-color:white;
  float:left;
  padding:25px;
}
.portfolio-img-container {
  display:inline-block;
  float:left;
  width:100%;
  height:100%;
}

.portfolio-img-box img {
  width:49%;
  height:175px;
}

aside {
  margin-top:40px;
  padding:20px;
  display:inline-block;
  padding-top:40px;
  margin-left: 10px;
  width:26%;
  height:130px;
  background-color:white;
/*  text-align:center;*/
  float:right;
}
/*.social-img-box{
  border:2px bold yellow;
  width:250px;
  height:50px;
  float:center;
  position:relative;
}*/

.social-img-box img {
  padding-left:10px;
  margin: 0 auto;
  width:60px;
  height:60px;
  float:center;
  position:relative;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
  box-sizing: border-box;
  height:200px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-form {
    border-radius: 5px;
    width:92%;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer {
  border-top:10px solid #4aaaa5;
  padding-top:40px;
  height:58px;
  margin: 0px 0 10px 0;
  width:100%;
  background-color: #777;
  text-align:center;
  color:#ebebeb;
}
/.p-padding {
  padding-top: 30px;
  font-weight: bold;
}















/*}
#main-section {
  width: 650px;
  border: solid;
  border-color: black;
  float:left;
  margin: 5px;
  background-color:lightblue;
}

 #sidebar {
  width: 270px;
  border: solid;
  border-color:black;
  float:left;
  background-color:green;
  margin:1px;
  padding:2px;
 }*/

/*.main-content {
  width:100%;
  height:100%;
}*/
/*body {
  width: 100%;
  margin: 0;
  padding:0;
}

header {
  width:100%;
  border-bottom: 1px solid #ccc;

}
.container {
  width: 960px;
  margin: 0 auto;
  
}
section {
  border: 1px solid #ddd;
  width: 650px;
  float: left;
}
aside {
  border: 1px solid #ddd;
  width: 270px;
  float: left;
}
.clearfix::after {
    content: ” “;
    display: table;
    clear: both;*/
